<h1>Your Profile</h1>
<div>Name: <%= @player.name %></div>
<div>Password: <%= @player.password %></div>
<div>ID: <%= @player.id %></div>
<br>
<div>Your Pokemon</div>
<br>
<% @pokemon.each do |pokemon| %>
  <div><a href="/pokemon/<%= pokemon.id %>"><%= pokemon.name %></a></div>
<% end %>
<br>
<div>Rival Name: <%= @player.rival.name %></div>
<br>
<div>Rival Pokemon</div>
<br>
<% @rival_pokemon.each do |pokemon| %>
  <div><a href="/pokemon/<%= pokemon.id %>"><%= pokemon.name %></a></div>
<% end %>

