<h1>Pokemon Profile</h1>
<div>Name: <%= @pokemon.name %></div>
<div>Number: <%= @pokemon.pkdx_id %></div>
<div>Height: <%= @pokemon.height %></div>
<div>Weight: <%= @pokemon.weight %></div>
<div>Attack: <%= @pokemon.attack %></div>
<div>Defense: <%= @pokemon.defense %></div>
<div>Speed: <%= @pokemon.speed %></div>
<div>HP: <%= @pokemon.hp %></div>
