
  <div class = "jumbotron">
    <center><h1>Pokemon Profile</h1>
  </div>

<div class="row">
    <div class = "col-md-2">
    </div>
    <div class = "col-md-4">
      <p><div class="image-border"><img class="home-image" src="http://img.pokemondb.net/artwork/<%= @pokemon.name.downcase %>.jpg"/></div></p>
    </div>
    <div class = "col-md-4">
      <br>
      <h2>Name: <%= @pokemon.name %></h2>
      <h4>Number: <%= @pokemon.pkdx_id %></h4>
      <h4>Height: <%= @pokemon.height %></h4>
      <h4>Weight: <%= @pokemon.weight %></h4>
      <h4>Attack: <%= @pokemon.attack %></h4>
      <h4>Defense: <%= @pokemon.defense %></h4>
      <h4>Speed: <%= @pokemon.speed %></h4>
      <h4>HP: <%= @pokemon.hp %></h4>
    </div>
    <div class = "col-md-2">
    </div>
  </div>
